label{
    font-size: large;
}
.data{
    font-size: large;
    margin-top: 13px;
    cursor: pointer;
}
.full-details{
    display: none;
    margin-left: 37px;
    background-color: #28a745;
    color: white;
    padding: 20px;
    font-size: large;
}
#taskDisplay{
    margin-top: 50px;
}